* {
box-sizing: border-box;
font-family: "Quicksand",sans-serif;
}

*:focus {
	outline: none;
}
body {
background-image: url(http://s1.1zoom.me/prev/526/Pastry_Donuts_Many_White_background_525995_281x225.jpg);
background-size: 50%;
background-attachment: fixed;
padding: 50px;
}
.login {
margin: 20px auto;
width: 300px;
}
.login-screen {
padding: 20px;
border-radius: 5px;
background-color: rgba(255,255,255,0.35);
}

.app-title {
text-align: center;
color: black;
}

.login-form {
text-align: center;
}
.control-group {
margin-bottom: 5px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    border-color: #00BFFF;
    margin: 1em 0;
    padding: 0;
}

input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 100%;
transition: border .5s;
}

input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 100%;
  margin: 0 auto;
}

.btn:hover {
  background-color: #2980B9;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
	margin-top: 12px;
}

.upload {
margin: 20px auto;
width: 300px;
}

.upload-screen {
background-color: #FFFFFF;
padding:24px;
border-radius: 5px;
}


.thumbnail-display {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  color: #0094DE;
  text-decoration: none;
  width: 23.8%;
  height: 100%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  background: #00BFFF;
  margin-left: 1%;
  margin-bottom: 1%;
  border-radius: 10px;
}

.float_center {
  float: right;

  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}
.float_center > .child {
  position: relative;
  left: 50%;
}


figure img {
    vertical-align: top;
}
figure figcaption {
    border: 1px dotted blue;
    text-align: center;
    color: Black;
    text-shadow: 1px 1px silver;
    font-weight: bold
}

select.mysel {
	text-align: center;
	background-color: #ECF0F1;
	border: 2px solid transparent;
	border-radius: 3px;
	font-size: 16px;
	font-weight: 200;
	padding: 10px 0;
	width: 100%;
	transition: border .5s;
}

option.myopt {
	text-align: center;
	background-color: #ECF0F1;
	border: 2px solid transparent;
	border-radius: 3px;
	font-size: 16px;
	font-weight: 200;
	padding: 10px 0;
	width: 100%;
	transition: border .5s;
}
